<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="2.5">
  <display-name>LearnersAcademy</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>AdminServlet</display-name>
    <servlet-name>AdminServlet</servlet-name>
    <servlet-class>com.sherwin.learners.servlet.AdminServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AdminServlet</servlet-name>
    <url-pattern>/AdminServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>LoggedInServlet</display-name>
    <servlet-name>LoggedInServlet</servlet-name>
    <servlet-class>com.sherwin.learners.servlet.LoggedInServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>LoggedInServlet</servlet-name>
    <url-pattern>/LoggedInServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>StudentsDetails</display-name>
    <servlet-name>StudentsDetails</servlet-name>
    <servlet-class>com.sherwin.learners.servlet.StudentsDetails</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>StudentsDetails</servlet-name>
    <url-pattern>/StudentsDetails</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Student</display-name>
    <servlet-name>Student</servlet-name>
    <servlet-class>com.sherwin.learners.servlet.Student</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Student</servlet-name>
    <url-pattern>/Student</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>StudentServlet</display-name>
    <servlet-name>StudentServlet</servlet-name>
    <servlet-class>com.sherwin.learners.servlet.StudentServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>StudentServlet</servlet-name>
    <url-pattern>/StudentServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AddStudent</display-name>
    <servlet-name>AddStudent</servlet-name>
    <servlet-class>com.sherwin.learners.servlet.AddStudent</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AddStudent</servlet-name>
    <url-pattern>/AddStudent</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AddStudentServlet</display-name>
    <servlet-name>AddStudentServlet</servlet-name>
    <servlet-class>com.sherwin.learners.servlet.AddStudentServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AddStudentServlet</servlet-name>
    <url-pattern>/AddStudentServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>SubjectDao</display-name>
    <servlet-name>SubjectDao</servlet-name>
    <servlet-class>com.sherwin.learners.dao.SubjectDao</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SubjectDao</servlet-name>
    <url-pattern>/SubjectDao</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AddSubjectServlet</display-name>
    <servlet-name>AddSubjectServlet</servlet-name>
    <servlet-class>com.sherwin.learners.servlet.AddSubjectServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AddSubjectServlet</servlet-name>
    <url-pattern>/AddSubjectServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>DeleteSubjectServlet</display-name>
    <servlet-name>DeleteSubjectServlet</servlet-name>
    <servlet-class>com.sherwin.learners.servlet.DeleteSubjectServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DeleteSubjectServlet</servlet-name>
    <url-pattern>/DeleteSubjectServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AddTeacherServlet</display-name>
    <servlet-name>AddTeacherServlet</servlet-name>
    <servlet-class>com.sherwin.learners.servlet.AddTeacherServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AddTeacherServlet</servlet-name>
    <url-pattern>/AddTeacherServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>deleteTeacherServlet</display-name>
    <servlet-name>deleteTeacherServlet</servlet-name>
    <servlet-class>com.sherwin.learners.servlet.deleteTeacherServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>deleteTeacherServlet</servlet-name>
    <url-pattern>/deleteTeacherServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>DeleteTeacherServlet</display-name>
    <servlet-name>DeleteTeacherServlet</servlet-name>
    <servlet-class>com.sherwin.learners.servlet.DeleteTeacherServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DeleteTeacherServlet</servlet-name>
    <url-pattern>/DeleteTeacherServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AllocateTeacherServlet</display-name>
    <servlet-name>AllocateTeacherServlet</servlet-name>
    <servlet-class>com.sherwin.learners.servlet.AllocateTeacherServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AllocateTeacherServlet</servlet-name>
    <url-pattern>/AllocateTeacherServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AddClassServlet</display-name>
    <servlet-name>AddClassServlet</servlet-name>
    <servlet-class>com.sherwin.learners.servlet.AddClassServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AddClassServlet</servlet-name>
    <url-pattern>/AddClassServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>DeleteClassServlet</display-name>
    <servlet-name>DeleteClassServlet</servlet-name>
    <servlet-class>com.sherwin.learners.servlet.DeleteClassServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DeleteClassServlet</servlet-name>
    <url-pattern>/DeleteClassServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AlloClassSubjectServlet</display-name>
    <servlet-name>AlloClassSubjectServlet</servlet-name>
    <servlet-class>com.sherwin.learners.servlet.AlloClassSubjectServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AlloClassSubjectServlet</servlet-name>
    <url-pattern>/AlloClassSubjectServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AddSubjectsToClsServlet</display-name>
    <servlet-name>AddSubjectsToClsServlet</servlet-name>
    <servlet-class>com.sherwin.learners.servlet.AddSubjectsToClsServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AddSubjectsToClsServlet</servlet-name>
    <url-pattern>/AddSubjectsToClsServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AllocateSubjectToTeacherServlet</display-name>
    <servlet-name>AllocateSubjectToTeacherServlet</servlet-name>
    <servlet-class>com.sherwin.learners.servlet.AllocateSubjectToTeacherServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AllocateSubjectToTeacherServlet</servlet-name>
    <url-pattern>/AllocateSubjectToTeacherServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>PerClassServlet</display-name>
    <servlet-name>PerClassServlet</servlet-name>
    <servlet-class>com.sherwin.learners.servlet.PerClassServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>PerClassServlet</servlet-name>
    <url-pattern>/PerClassServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AddStudentToClsServlet</display-name>
    <servlet-name>AddStudentToClsServlet</servlet-name>
    <servlet-class>com.sherwin.learners.servlet.AddStudentToClsServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AddStudentToClsServlet</servlet-name>
    <url-pattern>/AddStudentToClsServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>DelteClasssSubServlet</display-name>
    <servlet-name>DelteClasssSubServlet</servlet-name>
    <servlet-class>com.sherwin.learners.servlet.DelteClasssSubServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DelteClasssSubServlet</servlet-name>
    <url-pattern>/DelteClasssSubServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>DelteClasssSubServlet1</display-name>
    <servlet-name>DelteClasssSubServlet1</servlet-name>
    <servlet-class>com.sherwin.learners.servlet.DelteClasssSubServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DelteClasssSubServlet1</servlet-name>
    <url-pattern>/DelteClasssSubServlet1</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AddTeacherSubjectServlet</display-name>
    <servlet-name>AddTeacherSubjectServlet</servlet-name>
    <servlet-class>com.sherwin.learners.servlet.AddTeacherSubjectServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AddTeacherSubjectServlet</servlet-name>
    <url-pattern>/AddTeacherSubjectServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AddClassToTeacher</display-name>
    <servlet-name>AddClassToTeacher</servlet-name>
    <servlet-class>com.sherwin.learners.servlet.AddClassToTeacher</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AddClassToTeacher</servlet-name>
    <url-pattern>/AddClassToTeacher</url-pattern>
  </servlet-mapping>
</web-app>